<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Henny+Penny" rel="stylesheet">
  <title>Hogwarts</title>
</head>
<body>
  <nav>
    <ul>
      <li> <a href="/students"> Students </a> </li>
      <li> <a href="/houses"> Houses </a> </li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
